<button (click)="showPlayground = !showPlayground">Show basic playground</button>
<playground *ngIf="showPlayground"></playground>

<button (click)="showComponentsPlayground = !showComponentsPlayground">Show components playground</button>
<app-components-playground *ngIf="showComponentsPlayground"></app-components-playground>

<button (click)="showDirectivesPlayground = !showDirectivesPlayground">Show directives playground</button>
<app-directives-playground *ngIf="showDirectivesPlayground"></app-directives-playground>


