<h1>Hello World!</h1>
<p>{{ title }}</p>
<p>{{ number - 2 }}</p>
<p>{{ arr }}</p>

<!-- Binding with click: -->
<button (click)="onClick()">Click me!</button>

<!-- Binding (with []): we connect html with ts -->
<img [src]="img" alt="logo">

<!-- Binding: ts with html -->
<input
  type="text"
  (keyup.enter)="onInput($event)"
  (blur)="onBlur(myInput.value)"
  #myInput
>
<p>{{inputValue}}</p>

<hr>
<app-post></app-post>

<hr>
<app-post4></app-post4>

<!-- Two way data binding: -->
<!-- variant 1: -->
<!-- <input type="text" [value]="title2" (input)="onInput2($event)"> -->
<!-- variant 2: -->
<!-- Two way binding with [] and () -->
<input type="text" [(ngModel)]="title2">
<p>{{title2}}</p>

<!-- Directive ng-style: -->
<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>
<div [ngStyle]="{
  width: '200px',
  height: '200px',
  borderRadius: '5px',
  border: '1px solid #ccc',
  background: backgroundToggle ? 'red' : 'blue'
}" ></div>

<!-- Directive ngClass -->
<p [ngClass]="{
  red: backgroundToggle,
  blue: !backgroundToggle
}">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, nihil.</p>

<p
  [class.blue]="!backgroundToggle"
  [class.red]="backgroundToggle"
>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, minus.</p>

<!-- Directive ngIf else -->
<button (click)="toggle = !toggle">Toggle</button>
<p class="red">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, minus.</p>

<p class="blue">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, minus.</p>


